<h1>Listing checkpoints</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sequence</th>
		<th>Milepost</th>
		<th>Min Rest</th>
  </tr>

<% @checkpoints.each do |checkpoint| %>
  <tr>
		<% if session[:admin] == 'admin' %>  
    	<td><%= link_to checkpoint.name, edit_checkpoint_path(checkpoint) %></td>
		<% else %>
			<td><%= checkpoint.name %></td>
		<% end %>
    <td align="center"><%= checkpoint.sequence %></td>
		<td align="center"><%= checkpoint.milepost %></td>
		<td align="center"><%= checkpoint.minrest %></td>

		<% if session[:admin] == 'admin' %>   
    	<td><%= link_to(image_tag("/images/delete.jpg", {:alt => 'destroy', :class=>"rollover"}), {:controller => 'checkpoint', :action => 'destroy', :id => checkpoint }, :confirm => 'Are you sure?', :method => :delete) %></td>
			<% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:admin] == 'admin' %>
	<%= link_to(image_tag("/images/Add.png", {:alt => 'new', :class=>"rollover"}), new_checkpoint_path ) %>
<% end %>

